<header class="">
    <nav class="navbar justify-content-around navbar-expand-lg navbar-light bg-success">
      <div class="nav-item">
          <div class="spinner-grow text-light" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
          <a class="navbar-brand display-1" href="#">School</a>
      </div>


      <ul class="nav justify-content-end h5 ">
          <li class="nav-item">
            <a class="nav-link text-warning active" routerLink="/departements">Departements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" routerLink="/">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Connexion</a>
          </li>
        </ul>
  </nav>
  </header>
